{% load static %}

<html>
  <head>
        <title> Contcats Web application </title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'contacts/css/contacts.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'contacts/css/contact_form.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'contacts/css/export_import.css' %}" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">MyContact app</a>
        </div>
        {% block search_form %}
        {% endblock %}
{#        <form class="navbar-form navbar-left">#}
{#          <div class="form-group">#}
{#            <span class="icon"><i class="fa fa-search"></i></span>#}
{#            <input type="text" class="form-control" placeholder="Search">#}
{#          </div>#}
{#          <button type="submit" class="btn btn-default">Submit</button>#}
{#        </form>#}
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                <p id="username">{{ user.username }} </p>
                {% endif %}
            </li>
        </ul>
    </nav>
    <script src="{% static 'contacts/js/scripts.js' %}"> </script>
    <!--   <div class="col-md-10">
          <table class="table table-hover table-striped">
            <tr>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
            </tr>
            <tr>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
            </tr>
            <tr>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
                <td>dededed</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    </div> -->
  {% block content %} 
  {% endblock %}
    </div>
  </div>
  </body>
</html>