{% extends 'contacts/base.html' %}

{% block content %}
    <div class="container-fluid">
    {% include 'contacts/sidebar.html'%}
      <div row>
        <div class="col-md-2">
            {% if photo_form.instance.photo.name %}
            <img src="{{photo_form.instance.photo.url}}" height="125" width="95"/>
            {% endif %}
        </div>
        <div class="col-md-8">
            <form method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="form-style-1">
                <li><label>Full Name <span class="required">*</span></label>
                     {{part1.0.errors}}
                     {{part1.0}}&nbsp;
                     {{part1.1.errors}}
                     {{part1.1}}&nbsp;
                     {{part1.2.errors}}
                     {{part1.2}}&nbsp;
                </li>
                <li><label> {{part1.3.label}} <span class="required">*</span></label>
                    {{part1.3.errors}}
                    <p> {{part1.3}} </p>
                    <p id="help_text">{{ part1.3.help_text }} </p>
                </li>
                {% for field in part2 %}
                <li><label> {{field.label}} </label>
                    {{field.errors}}
                    <p>{{field}} </p>
                </li>
                {% endfor %}
                <li>
                <input type="submit" value="Submit" />
                </li>
            </ul>
            </form>
        </div>
      </div>
    </div>
{% endblock %}

