{% extends 'contacts/base.html' %}


{% block content %}
    <div class="container-fluid">
    {% include 'contacts/sidebar.html'%}
        <div class="col-md-10">
              <div row>
                  <div id="content" class="colM">
                        <h1>Download template</h1>
                     <form action="" method="POST" enctype="multipart/form-data">
                         {% csrf_token %}
                         <fieldset class="module aligned">
                            {%  for field in template_form %}
                                <div class="form-row">
                                    <label>
                                    {{ field.label }}
                                    </label>
                                    {{ field.errors }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <input type="submit" class="default" name="download" value="Download">
                        </fieldset>
                     </form>
                    <h1>Import</h1>
                    <p>
                        This importer require you point in the file following fields:
                        <code>
                            id, firstname*, secondname, lastname, mobile*, personal_phone, business_phone, company,
                            position, address, email, star
                        </code>
                    <p> * - required fields </p>
                     <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <fieldset class="module aligned">
                            {%  for field in form %}
                                <div class="form-row">
                                    <label>
                                    {{ field.label }}
                                    </label>
                                    {{ field.errors }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </fieldset>
                            <div class="submit-row">
                                 <input type="submit" class="default" name="import" value="Submit">
                            </div>
                     </form>
                        {% if statistics %}
                            <h2>
                            Operation statistic:
                            </h2>
                            <p>
                                You try to import {{ statistics.0 }} contacts. {{ statistics.1 }} were imported successfully,
                                {{ statistics.2 }} with errors
                            </p>
                        {% endif %}
                        {% if errors %}
                            <h2>
                            Errors:
                            </h2>
                            <ul>
                                {% for num, error in errors.items %}
                                <li>
                                    Line number {{ num }} - {{ error }}
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                  </div>
              </div>
        </div>
    </div>
{% endblock %}